@charset "utf-8";
*,
:before,
:after{
	box-sizing:border-box;
}
body{
	padding:10px 10px 72px;
}
body,
input,
select,
textarea,
button{
	color:#333;
	font-size:16px;
	font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	line-height:1;
	letter-spacing:.02em;
	word-wrap:break-word;
}
ul,ol{
	list-style-type:none;
}
a{
    text-decoration:none;
	outline:none;
}
img{
	vertical-align:bottom;
	width:auto\9;
	max-width:100%;
	height:auto;
	-ms-interpolation-mode:bicubic;
}
button{
	padding:0;
    outline:none;
	cursor:pointer;
}

/* input */
input[type="submit"],
input[type="button"],
input[type="search"],
.select_wrap select{
	-moz-appearance:none;
	-webkit-appearance:none;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="number"],
textarea{
	-moz-appearance:none;
	-webkit-appearance:none;
	outline:none;
	max-width:100%;
	height:42px;
    padding:0 10px;
	border:0;
	border-radius:5px;
	background-color:#f2f3f3;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
textarea:focus,
.form-control:active{
	box-shadow:0 0 0 2px #d41548;
}
input + input{
	margin-top:20px !important;
}

.textarea_wrap{
	width:100%;
	border-radius:5px 0 0 5px;
}
textarea{
	line-height:1.75;
	vertical-align:top;
	width:100%;
	height:124px;
	padding:6px 8px;
	border-radius:5px 0 0 5px;
	overflow-y:scroll;
	resize:vertical;
}
@media all and (-ms-high-contrast:none){
	textarea{
		border-radius:10px 0 0 10px;
	}
}
::-webkit-input-placeholder{
	line-height:1.5;
	color:#b0b0b1;
}
::-moz-placeholder{
	color:#b0b0b1;
	opacity:1;
}
:-ms-input-placeholder{
	color:#b0b0b1;
}

/* select */
.select_wrap{
	display:inline-block;
	position:relative;
}
.select_wrap:after{
	display:block;
	position:absolute;
	top:0;
	right:12px;
	bottom:2px;
	width:6px;
	height:6px;
	margin:auto;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
    content:"";
	-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
			transform:rotate(45deg);
}
.select_wrap select{
	outline:none;
	height:42px;
	padding:0 24px 0 8px;
	background:#f2f3f3;
	border:0;
	border-radius:5px;
	white-space:nowrap;
	font-size:16px;
}
.select_wrap select::-ms-expand{
    display:none;
}
.select_wrap select:focus{
	box-shadow:0 0 0 2px #d41548;
}

.ellipsis{
	position:relative;
	word-break:break-all;
	overflow:hidden;
}
.ellipsis:before,
.ellipsis:after{
	position:absolute;
}
.ellipsis:before{
	right:0;
	padding-left:16px;
	content:"...";
}
.ellipsis:after{
	width:100%;
	height:100%;
	content:"";
}

.btn_area{
	position:relative;
	max-width:375px;
	margin:45px auto 0;
	text-align:center;
}
.btn{
	padding:15px 40px;
	background:#d41548;
    border:0;
	border-radius:5px;
	color:#fff;
	font-weight:bold;
	font-size:1.3em;
}

.add-btn{
	position:relative;
	width:32px;
	height:32px;
	background:#d41548;
	border:0;
	border-radius:50%;
	text-indent:200%;
	white-space:nowrap;
	overflow:hidden;
}
.add-btn:before,
.add-btn:after{
	content:"";
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	background:#fff;
}
.add-btn:before{
	width:18px;
	height:2px;
}
.add-btn:after{
	width:2px;
	height:18px;
}

.option-btn{
	min-width:96px;
	min-height:42px;
	padding:8px;
	background:#333;
	border:0;
	border-radius:5px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
}

.dl > dd{
	margin-top:2px;
}
.dl > dd + dt{
	margin-top:16px;
}

td > table{
	margin:-27px 0 -29px !important;
}
table.right-sc-tbl > tbody > tr > th,
table.right-sc-tbl > tbody > tr > td{
	display:block;
	vertical-align:top;
}
table td > input,
table td > .select_wrap,
table td > .textarea_wrap,
table td > .u-disp-iB{
	margin-top:8px;
}

.table_line > td{
	padding-bottom:42px;
	border-bottom:1px solid #d7d8d8;
}
.table_dl > th,
.table_dl > td{
	padding-top:5px;
}

.dustbox{
	position:absolute;
    width:30px;
    height:30px;
	margin:auto;
    background:url(../images/dust_icon.png) center/contain no-repeat;
    border:0;
	text-indent:200%;
	white-space:nowrap;
	overflow:hidden;
}
.btn_area .dustbox{
	top:0;
	right:0;
	bottom:0;
}

/* ページネーション */
.pagination{
	display:flex;
	justify-content:center;
    width:100%;
	margin-top:50px;
    text-align:center;
}
.pagination_inner{
	display:flex;
	justify-content:flex-start;
	position:relative;
	width:100%;
	height:46px;
	max-width:375px;
}
.pagination .page-of{
	line-height:46px;
	position:absolute;
	left:30%;
	width:40%;
	height:46px;
	background:#d41548;
	border-radius:8px;
	color:#fff;
}
.pagination .m-prev{
	position:absolute;
	left:0;
	width:15%;
}
.pagination .pn-prev{
	position:absolute;
	left:15%;
	width:15%;
}
.pagination .pn-next{
	position:absolute;
	left:70%;
	width:15%;
}
.pagination .m-next{
	position:absolute;
	left:85%;
	width:15%;
}
.pagination a{
	line-height:46px;
	height:46px;
    color:#333;
}

/* ヘッダー -------------------------*/
.head-nav{
	margin:-10px -10px 30px;
	padding:10px;
    background:#d41548;
}
.head-nav nav{
    max-width:960px;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
#menu-logo,
.logo,
.rightset{
	display:flex;
	align-items:center;
}
.logo{
	width:144px;
	height:27px;
}
.logo img{
	width:100%;
	height:100%;
}
.nav_u_img{
	width:32px;
	height:32px;
	border:2px solid #fff;
	border-radius:50%;
	overflow:hidden;
}
.nav_u_img img{
	width:100%;
	height:100%;
}
.rightset-btn{
    padding:0 15px;
}
.rightset-btn:first-child{
	position:relative;
    padding-left:0;
}
.rightset-btn:first-child:after{
	display:block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:1px;
	height:16px;
	margin:auto;
	background:#fff;
	content:"";
}
.rightset-btn:last-child{
    padding:0;
}
.rightset-btn a{
	display:flex;
	align-items:center;
    color:#fff;
}
.rightset-logout-btn{
	width:31px;
	height:32px;
    background:url("../images/logout_icon.png") 0 center/contain no-repeat;
	text-indent:200%;
	white-space:nowrap;
	overflow:hidden;
}
.rightset-help-btn{
    width:30px;
    height:30px;
    background:url("../images/help_icon.png") 0/contain no-repeat;
}

/* コンテンツ（選択部分） -------------------------*/
section{
	max-width:375px;
	margin:0 auto;
}

/* Layoutユーザー画面_TOP-PC
***********************************************************************/
.searchbox01{
	position:relative;
    margin:0 auto 30px;
}
.searchbox01 .search{
    width:100%;
	padding-right:32px;
    background:#eaeaea;
}
.searchbox_btn_detail{
    position:absolute;
    top:0;
    right:10px;
	bottom:0;
    background:url(../images/search_icon.png) 0/contain no-repeat;
    width:16px;
    height:16px;
	margin:auto;
}
.searchbox02{
    display:flex;
	align-items:center;
    justify-content:space-between;
}
.sort_wrap{
    display:flex;
	align-items:center;
}

.sort_switch{
	position:relative;
	width:42px;
	height:42px;
	padding:0;
	background:#eaeaea;
	border:0;
	border-radius:5px;
	text-indent:200%;
	white-space:nowrap;
	overflow:hidden;
}
.sort_switch:after{
    content:"";
    position:absolute;
	right:0;
	left:0;
    width:15px;
    height:15px;
	margin:auto;
    border-top:solid 3px #727171;
    border-right:solid 3px #727171;
}
.sort_switch-up:after{
	top:0;
	bottom:8px;
    -webkit-transform:rotate(135deg);
    transform:rotate(135deg);
}
.sort_switch-down:after{
	top:6px;
	bottom:0;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.print-btn{
    width:120px;
}
.print-btn a{
    display:block;
    padding:15px 25px;
    color:#fff;
    background:#d41548;
    border-radius:5px;
    font-weight:bold;
    text-align:center;
}

/* コンテンツ（リスト部分） -------------------------*/
.ucl-tg{
    border-top:1px solid #d41548;
    position:relative;   
}

.user-card-list{
    padding:10px 0 20px 0;
}
.user-card-list > ul > li{
    vertical-align:top;
}
.ucl-day{
    font-size:13px;
}
.ucl-box{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top:10px;
}
.ucl-img{
	width:100px;
	text-align:center;
}
.ucl-img img{
    max-width:100px;
    max-height:100px;
    width:auto;
    height:auto;
}
.ucl-detail{
	width:100%;
	margin-top:10px;
}
.sc-lst li:not(:first-child){
    margin-top:10px;
}
.ucl-name-s{
    font-size:13px;
}
.ucl-name{
    font-size:26px;
    font-weight:bold;
}
.ucl-sbtxt{
    color:#727171;
    font-size:16px;
    font-weight:bold;
}

.thd-lst{
    margin-top:20px;
}
.thd-lst li:not(:first-child){
    margin-top:20px;
}
.ucl-mail,
.ucl-tel{
    position:relative;
    color:#d41548;
    font-weight:bold;
    margin-left:25px;
}
.ucl-mail a,
.ucl-tel a{
    color:#d41548;
}
.ucl-mail a{
	word-break:break-all;
}
.ucl-mail::before,
.ucl-tel::before{
    content:"";
    position:absolute;
    background:center/contain no-repeat;
    width:20px;
    height:20px;
    top:0;
    left:-25px;
}
.ucl-mail::before{
    background-image:url(../images/mail_icon.png);
}
.ucl-tel::before{
    background-image:url(../images/tel_icon.png);
}
.ucl-snsbtn{
    display:inline-block;
}
.ucl-snsbtn a{
    display:block;
    padding:3px 10px;
    color:#727171;
    background:#eaeaea;
    border-radius:5px;
    font-weight:bold;
    text-align:center;
}
.list-bb{
    padding-top:10px;
    border-bottom:1px solid #d41548;
}

.user-card-list .btn_area{
	margin-top:30px;
	text-align:right;
}
.ucl-tg-a{
	padding-right:4px;
	color:#d41548;
}
.ucl-tg-a:after{
    content:"";
	display:inline-block;
	position:relative;
	top:-1px;
    width:10px;
    height:10px;
	margin-left:5px;
    border-top:1px solid #d41548;
    border-right:1px solid #d41548;
    transform:rotate(45deg);
}

/* Layoutユーザー画面_TOP_検索-PC
***********************************************************************/
.search_letter{
    padding:0px 5px;
    background:#ffcce2;
}

/* Layoutユーザー画面_詳細_横-PC
***********************************************************************/
aside{
	max-width:375px;
    margin:0 auto;
    text-align:right;
}
aside > div{
    display:inline-block;
}
aside > div:first-child{
	padding-right:20px;
}
aside > div + div{
	padding-left:20px;
    border-left:1px solid #d7d8d8;
}

.card_detail_main{
	position:relative;
    background:#f3f3f3;
    border-radius:7px;
    padding:30px 30px 60px;
}
/* 左側 -------------------------*/
.left-sc-img01,
.left-sc-img02{
    width:100%;
    max-height:320px;
    margin-bottom:20px;
    text-align:center;
}
.left-sc-img01 a, 
.left-sc-img02 a{
    display:block;
}
.left-sc-img01 img,
.left-sc-img02 img{
    max-height:320px;
    width:auto;
}
.left-sc-sns{
    padding:10px 0;
}
.lispan-sns{
    display:inline-block;
    width:120px;
}
.left-sc-red{
    margin-top:10px;
}

a.alink-red01,
a.alink-red02,
a.alink-red03{
    display:block;
    position:relative;
    padding:20px 0;
    padding-left:70px;
    border-top:1px solid #d41548;
    color:#d41548;
}
a.alink-red01::after,
a.alink-red02::after,
a.alink-red03::after{
    content:"";
    position:absolute;
    top:13px;
    left:20px;
    width:30px;
    height:30px;
	background:center/contain no-repeat;
}
a.alink-red01::after{
    background-image:url(../images/card_detail_icon01.png);
}
a.alink-red02::after{
    background-image:url(../images/card_detail_icon02.png);
}
a.alink-red03::after{
    background-image:url(../images/card_detail_icon03.png);
}
a.alink-red-last{
    border-bottom:1px solid #d41548;
}

/* 右側 -------------------------*/
.right-sc{
	margin-top:40px;
}
.right-sc h1{
	margin:0 auto;
	text-align:left;
	font-size:1.6em;
    padding:8px 0 16px 0;
}
table.right-sc-tbl{
	line-height:1.75;
    border:solid 1px rgba(255, 255, 255, .0);
    border-collapse:separate;
    border-spacing:0 16px;
}
table.right-sc-tbl > tbody > tr > th{
    text-align:left;
}

.card_detail_main .dustbox{
	right:30px;
	bottom:30px;
}

/* 同じ会社の人の名刺 -------------------------*/
.card_detail_sb{
    margin-top:50px;
}
.card_detail_sb h1{
    text-align:left;
	font-size:1.4em;
}
.card_detail_sb ul{
    margin:20px 0;
	padding:40px 0;
    border-top:1px solid #d41548;
    border-bottom:1px solid #d41548;
}
.sb_cp{
	line-height:1.3;
	max-height:calc(16 * 1.3 * 2 * 1px);
}
.sb_cp.ellipsis:before{
	top:calc(16 * 1.3 * (2 - 1) * 1px);
	background:-webkit-linear-gradient(left, rgba(255,255,255,0), #fff 50%);
	background:-moz-linear-gradient(left, rgba(255,255,255,0), #fff 50%);
	background:linear-gradient(to right, rgba(255,255,255,0), #fff 50%);
}
.sb_cp.ellipsis:after{
	background:#fff;
}

/* Layoutユーザー画面_詳細_編集_横-PC
***********************************************************************/
.page_ttl{
    margin-top:50px;
    margin-bottom:30px;
    font-weight:bold;
    font-size:1.6em;
}
.card_detail_edit{
    border-radius:7px;
}
.card_detail_edit .left-sc{
	padding:30px 30px 10px;
	background:#f2f3f3;
	border-radius:5px;
}
.card_detail_edit .right-sc .right-sc-tbl{
	border-spacing:0 28px;
	margin-top:-23px;
}
.card_detail_edit .add-btn{
	position:absolute;
	right:0;
	bottom:5px;
}
.card_detail_edit .table_line .add-btn{
	bottom:47px;
}

/* Layoutユーザー画面_ユーザーの編集-PC
***********************************************************************/
/* コンテンツ（編集部分） -------------------------*/
h1.user_custom_h1{
    margin-top:50px;
    margin-bottom:30px;
    font-weight:bold;
    font-size:1.6em;
}
.uaer_custom_img{
    width:300px;
    height:300px;
    position:relative;
    background:#f2f3f3;
    border-radius:5px;
	margin:0 auto;
	margin-bottom:30px;
}
.uaer_custom_img::before{
    position:absolute;
    content:"編集";
    font-weight:bold;
    font-size:1.2em;
    color:#d41548;
    text-align:right;
    line-height:1.8em;
    top:240px;
    left:112px;
    width:80px;
    height:30px;
    background:url(../images/card_detail_icon01.png) 0/contain no-repeat;
	pointer-events:none;
}
.uaer_custom_img a{
	display:block;
	height:100%;
	padding-top:36px;
}
.uaer_custom_img span{
	display:block;
    width:170px;
	height:170px;
	margin:0 auto;
	border:5px solid #fff;
	border-radius:50%;
	box-sizing:content-box;
	overflow:hidden;
}
.uaer_custom_img img{
	width:100%;
	height:100%;
}
.user_custom_ul01{
	margin-top:30px;
}
.user_custom > ul.user_custom_ul01 > li > ul > li{
    display:inline-block;
}
.user_custom_ul01 > li{
    margin-bottom:32px;
}
.user_custom_ul01 li.user_custom_li02{
    margin-top:0;
}
.user_custom_ul02 li:first-child{
    width:100%;
    font-weight:bold;
    opacity:.5;
	margin-bottom:8px;
}
.user_custom_txt_area{
	width:100%;
}
.user_custom_ul02 li:last-child input[type="text"]{
	width:100%;
    background:#ebebeb;
}
#radioA,
#radioB,
#radioC,
#radioD,
#radioE{
	display:none;
}
#radioA:checked + .radioA,
#radioB:checked + .radioB,
#radioC:checked + .radioC,
#radioD:checked + .radioD,
#radioE:checked + .radioE{
    border-color:#333;
	background:#333;
    color:#fff;
}
.radioA,
.radioB,
.radioC,
.radioD,
.radioE{
	display:inline-flex;
	align-items:center;
	justify-content:center;
    width:36px;
    height:36px;
    border:1px solid #777;
    border-radius:50%;
    color:#777;
	font-weight:bold;
    text-align:center;
	cursor:pointer;
}
li.user_custom_radio > span{
	position:relative;
}
li.user_custom_radio > span:not(:first-child){
	padding-left:30px;
}
li.user_custom_radio > span:not(:first-child)::after{
	position:absolute;
	content:"";
	width:10px;
    height:10px;
    border-top:solid 1px #333;
    border-right:solid 1px #333;
    transform:rotate(45deg);
    top:calc(35% - 2px);
    right:50px;
}

/* フッター -------------------------*/
article{
    margin:0 auto;
}
#pages{
	margin:50px auto 0;
}
#pages ol{
	text-align:center;
}
#pages ol li{
	display:inline-block;
	margin:0 2px;
	line-height:40px;
	width:40px;
	height:40px;
	border:0;
	text-align:center;
	border-radius:50%;
	font-weight:bold;
	font-size:17px;
}
	#pages ol li a{
		text-decoration:none;
		display:block;
		color:#333;
		border-radius:50%;
	}
	#here{
		background:#d41548;
		color:#fff;
	}

footer{
	margin-top:10em;
	padding-bottom:1em;
	font-size:13px;
	text-align:center;
}

/* モーダル部分 -------------------------*/
#inline-wrap{
	position:relative;
	margin:0 auto;
	max-width:375px;
	background:#f2f3f3;
	border-radius:5px;
	padding:40px;
}
.inline-wrap_cls h1,
.inline-wrap_cls .image,
.inline-wrap_cls .inline-wrap_btn,
.popup-modal-dismiss{
	text-align:center;
}
.inline-wrap_cls h1{
	font-weight:bold;
    font-size:1.2em;
}
.inline-wrap_cls .image{
	width:150px;
	height:150px;
	margin:40px auto;
	border:5px solid #fff;
	border-radius:50%;
	box-sizing:content-box;
	overflow:hidden;
}
.inline-wrap_cls .image img{
	width:100%;
	height:100%;
}
.popup-modal-dismiss-close,
.popup-modal-dismiss-red{
	display:block;
}
.popup-modal-dismiss-close{
	margin-top:20px;
}
.popup-modal-dismiss-close a,
.popup-modal-dismiss-red a{
	display:block;
	text-decoration:none;
	font-weight:bold;
	color:#333;
	padding:10px 40px;
}
.popup-modal-dismiss-red a{
	color:#fff;
}
.popup-modal-dismiss-red{
	background:#d41548;
	border-radius:5px;
}
.inline-wrap_btn{
	padding-bottom:20px;
}
.inline-wrap_btn .dustbox{
	right:20px;
	bottom:20px;
}

/* 調節用 -------------------------*/
.relative{
    position:relative;
}
.u-f-bg{
    font-weight:bold;
    opacity:.5;
}
.u-disp-iB{
	display:inline-block;
}
.u-ta-r{
	text-align:right;
}
.u-mt-15{
    margin-top:15px;
}
.u-mt-30{
    margin-top:30px;
}
.u-mt-70{
    margin-top:70px;
}
.u-mr-8{
	margin-right:8px;
}
.u-mb-5{
    margin-bottom:5px;
}
.u-mb-15{
    margin-bottom:15px;
}
.u-mb-200{
    margin-bottom:200px;
}
.u-mb-20{
    margin-bottom:20px;
}
.u-ml-10{
    margin-left:10px;
}
.u-ml-30{
    margin-left:30px;
}
.u-ml-50{
    margin-left:50px;
}
.u-pr-20{
    padding-right:20px;
}
.u-pl-20{
    padding-left:20px;
}
.u-br-w{
    border-right:1px solid #fff;
}
.u-va-m{
    vertical-align:middle;
}
.wp100{
	width:100%;
}
.wp100-106{
	width:calc(100% - 108px);
}
.wp100-40{
	width:calc(100% - 40px);
}
.w200{
	width:200px;
}